<nav class="navbar navbar-bexter mb-3">
    <a class="navbar-brand" href="#">
      <img src="./assets/images/ARGOSS_white.svg" height="48" />
    </a>
    <div class="navbar-expand mr-auto">
      <!-- <div style="position: absolute; top:0; left:0; height:58px; width: 100%; line-height: 58px;">
        <h4 class="blanco">Generador de URLs ofuscadas</h4>
      </div> -->
      <div class="titulo">
        <h4 class="blanco">Generador de URLs ofuscadas</h4>
      </div>
      <!-- <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="home">Home</a>
        <a class="nav-item nav-link" routerLink="assignment">Assignment</a>
      </div> -->
    </div>
    <!-- Centro -->
    <!-- <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="#" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div> -->
  </nav>