@media (min-width: 760px) {
  .titulo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    height: 58px;
    width: 100%;
    text-align: center;
    h4 {
      line-height: 58px;
    }
  }
}
