<div class="scroll">
  <table class="table table-striped table-bordered mt-4">
    <tbody>
      <tr>
        <td>
          Descripción del enlace<br>
          <small class="desborde"><a
              href="https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==">https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==</a></small>
        </td>
        <td class="align-middle text-center"><button type="submit" class="btn btn-danger btn-sm">Eliminar</button></td>
      </tr>
      <tr>
        <td>
          Descripción del enlace<br>
          <small class="desborde"><a
              href="https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==">https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==</a></small>
        </td>
        <td class="align-middle text-center"><button type="submit" class="btn btn-danger btn-sm">Eliminar</button></td>
      </tr>
      <tr>
        <td>
          Descripción del enlace<br>
          <small class="desborde"><a
              href="https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==">https://argoss-ds.saludcastillayleon.es/test/sanitario/sami?b=ewogICJpZCI6ICJDWUwxMDIzNDU5NzgyIiwKICAiY29kVHlwZSI6ICJjaXBhIgp9Cg==</a></small>
        </td>
        <td class="align-middle text-center"><button type="submit" class="btn btn-danger btn-sm">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>