<div class="scroll" *ngIf="lista.length">
  <table class="table table-striped table-bordered mt-4">
    <tbody>
      <tr *ngFor="let elemento of lista; let i = index;">
        <td>
          {{elemento.descripcion}}<br>
          <small class="desborde"><a [href]="elemento.url" target="_blank" >{{elemento.url}}</a></small>
        </td>
        <td class="align-middle text-center"><button type="submit" class="btn btn-danger btn-sm" (click)="eliminarElemento(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>